/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;

}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Duru Sans', sans-serif;
  /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.page-wrapper {
  display: table;
  width: 100%;
  height: 650px;
  /*min-height: 100%;*/
}
.page-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  /*padding-left: 100px;*/
  /*padding-right: 100px;*/
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

.steph-nav .nav {
    text-align: center;
    width: 100%;
    text-shadow: none;
}

.steph-nav .nav > li {
    float: none;
    display: inline-block;
}

.steph-nav .nav > .active > a,
.steph-nav .nav > .active > a:hover,
.steph-nav .nav > .active > a:focus {
  background-color: transparent;
  color: #333;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* IE8 proofing */
  color: rgba(33,33,33,.75);
  border-bottom: 2px solid transparent;
  text-shadow: none;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #333;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #333;
  /*border-bottom-color: #333;*/
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .page-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.steph-intro {
    background-color: rgb(156, 165, 185);
    margin-top: 44px;
}

.steph-intro h1 {
    font-size: 50px;
}

.steph-about {
    background-image: url('../img/stardust/stardust.png');
}

.steph-projects {
    background-image: url('../img/sunset.png');
    background-color: #FFFFFD;
    /*color: #444349;
    text-shadow: none;*/
}

.origins {
    width: 100%;
    vertical-align: bottom;

}

.project-tile {
width: 100%;
height: 320px;
position: relative;
float: left;
background: #CC7453;
opacity: .75;
overflow: hidden;
/*border: solid 2px rgba(33,33,33,.25);*/
}

.project-tile:hover {
background: #B96B4D;
}

.project-img {
    width: 100%;
    height: auto;
}

.project-tile-header {
    margin-left: 15px;
    margin-right: 15px;
}

.project-tile-text {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    font-size: 19px;
}


